<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="heading-small-span"></span>
  <span>Equipo Adriano</span>
  <span class="heading-big-span"></span>
  <button  routerLink="/login" mat-icon-button class="big" aria-label="Login">
    <mat-icon>login</mat-icon>
  </button>
  <button routerLink="/creategame" mat-icon-button class="big" aria-label="Crea una nuova partita">
    <mat-icon>create</mat-icon>
  </button>
  <button routerLink="/gamelist" mat-icon-button class="big" aria-label="Lista delle partite">
    <mat-icon>sports_tennis</mat-icon>
  </button>
  <button  routerLink="/home" mat-icon-button class="big" aria-label="Pagina Personale">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>